*{
  text-shadow: 5px 5px 8px #000000;

}
body {
  background: #053f00;
  background-repeat: no-repeat;
  font-family: 'Nunito', sans-serif, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #fff;
  height: 100%;
  text-align: center;
  font-size: 15px;
}


.fas{
animation-duration: 4s;
animation-delay: 1s;
animation-iteration-count: 2;
}
.wrappper {
 width: 100%;
  margin: 0 auto;
}
.wrappper:after {
  content: "";
  display: table;
  clear: both;
}

canvas {
  color: #fff;
  border: #fff dashed 2px;
  padding: 20px;
}

h1, h2, h3 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 100;
  text-transform: uppercase;
  margin: 5px 0;
}

h1 {
  font-size: 65px;
  font-family: 'Vibur', cursive;
  font-family: 'Amatic SC', cursive;
}

h2 {
  font-size: 1.6em;
}

p {
  font-size: 1.6em;
}

#alphabet {
  margin: 15px auto;
  padding: 0;
  max-width: 900px;
}
#alphabet:after {
  content: "";
  display: table;
  clear: both;
}

#alphabet li {
  float: left;
  margin: 0 10px 10px 0;
  list-style: none;
  width: 35px;
  height: 35px;
  padding-top: 10px;
  background: #fff;
  color: red;
  cursor: pointer;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px;
  border: solid 5px #fff;
}
#alphabet li:hover {
  background: black;
  border: solid 1px #fff;
  color: #fff;
}

#my-word {
  margin: 0;
  display: block;
  padding: 0;
  display: block;
  margin: 15px;
}

#my-word li {
  position: relative;
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0 9px;
  font-size: 1.6em;
}

#mylives {
  font-size: 1.6em;
  text-align: center;
  display: block;
  margin: 10px;
}

#clue{
  margin: 10px;
}
button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -khtml-border-radius: 5px;
  background:red;
  color: #fff;
  border: solid 3px #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 2em;
  padding: 18px 10px;
  width: 160px;
  margin: 10px;
  outline: none;
}
button:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: black;
  border: solid 3px #fff;
  color: white;
}

/* @media (max-width: 767px) {
  #alphabet {
    padding: 0 0 0 15px;
  }
}
@media (max-width: 480px) {
  #alphabet {
    padding: 0 0 0 25px;
  } */
